<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.EmailCampaign" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Framework.Conditions" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Marketing" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Marketing.Core" version="9.0.1" targetFramework="net462" />
  <package id="SC.Sitecore.Marketing.xMgmt" version="9.0.1" targetFramework="net462" />
</packages>